*elc
auto-save-list
/.emacs.d/.org-id-locations
/.emacs.d/.smex-items
/.emacs.d/auto-save-list
/.emacs.d/backups
/.emacs.d/bookmarks
/.emacs.d/custom.el
/.emacs.d/el-get*
/.emacs.d/elpa
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/places
/.emacs.d/swank
/.emacs.d/tramp
/.emacs.d/url
.lein-plugins/
/.lein-repl-history
.powrc
repl-port
.lein-repl-history
.nrepl-port
