[user]
    initials = cr
	name = Chris Redinger
	email = redinger@gmail.com
[core]
  excludesfile = $HOME/.gitignore
  editor = "/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -n"

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  di = diff
  lp = log -p
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  # show files ignored by git
  ign = ls-files -o -i --exclude-standard

  # show difference between the HEAD and the index
  staged = diff --cached

  # show difference between working tree and the index
  unstaged = diff

  # show staged and unstaged changes (what would be committed with "git commit -a")
  both = diff HEAD

  ribbon = tag --force _ribbon origin/master
  catchup = log --patch --reverse --topo-order _ribbon..origin/master

[push]
  default = tracking
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[github]
  user = redinger

[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)

[diff "clojure"]
  xfuncname = "^\\(.*"

[branch]
  autosetuprebase = remote
[heroku]
  account = redinger
[credential]
  helper = osxkeychain

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "git@heroku.com:"]
  insteadOf = "heroku:"